#AuthForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 50px;

}
#authForm-heading {
    font-weight: 900;
    font-size: 40px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background-color: #eaeaea;
}
::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
    font-weight: 800;
}
:-ms-input-placeholder {
    color: var(--placeholder-color);
    font-weight: 800;
}
::-ms-input-placeholder {
    color: var(--placeholder-color);
    font-weight: 800;
}

.btn-big {
    width: 100%;
}

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.discord-btn {
    width: 184px;
    height: 42px;
    background-color: #5865F2;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}
.discord-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.discord-icon {
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
    width: 28px;
    height: 28px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}

.btn-oauth2 {
    cursor: pointer;
}
